:root {
    --dark-blue: #135cc6;
    --pink: #ffc7c6;
    --main-bg-color: var(--pink)
    
    --h1: 7.594rem;
    --h2: 5.063rem;
}

.darkmode {
    --primary: var(var(--pink))
}

.lightmode {
    --primary: var(--dark-blue)
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    font-size: var(--h1);
}

.section-title {
    font-size: var(--h1);
}
